hivemind-bus-client
hivemind-core
hivemind-http-protocol
hivemind-audio-binary-protocol>=2.1.3
hivemind-redis-database
setuptools
onnxruntime
ovos-tts-plugin-server>=0.0.2,<1.0.0
ovos-audio
ovos_plugin_common_play>=1.1.4, <2.0.0
