MAIN_UID=1000
MAIN_GID=1000
UMASK=002
XDG_RUNTIME_DIR=/run/user/1000
TZ=Europe/Lisbon

CONFIG_BASE_DIR=/home/miro/.config
DATA_BASE_DIR=/home/miro/.local/share
STATE_BASE_DIR=/home/miro/.local/state
CACHE_BASE_DIR=/home/miro/.cache
TMP_FOLDER=/tmp/mycroft

CTRANSLATE_DIR=/home/miro/.local/share/ctranslate2

PULL_POLICY=always